/* Clases generales */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Comfortaa', cursive;
}

a {
    text-decoration: none;
    color: #75DDDD;
}

a:hover {
    color: #fd6231;
}

body {
    background-color:#0A0F0D;
    color: whitesmoke;
    margin: 0;
}

img {
    max-width: 100%;
}

.margins {
    margin-left: auto;
    margin-right: auto;
}

.box {
    width: 90%;
}
/* Empieza el navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 20px 20px 0px #00000099; 
    position: relative;
}

.logo {
    width: 60px;
    margin-left: 1rem;
    margin-top: 0.2rem;
}

.div-toggle {
    align-self: center;
    margin-right: 1.5rem;
    transition: .5s ease-in-out;
}

.button-toggle {
    font-size: 24px;
    cursor: pointer;
    color: #fd6231;
}

.div-toggle:hover {
   transform:rotate(180deg);
}

.links {
    display: none;
}

li {
    list-style: none;
    font-size: 22px;
    margin-bottom: 0.5rem;
    transition: 0.3s ease-in-out;
    font-weight: bold;
}

li:hover {
    padding-left: 1rem;
}

li > a:hover {
    color: #fd6231;
}

.show-links {
    display: block;
    position: absolute;
    top: 63px;
    background-color: #00000099;
    width: 100%;
    transition: all .3s ease-in-out;
}

/* Termina el navbar */
/* Empieza el Inicio */
.hero-home {
    background-image: url(IMG/hero.jpg);
    background-position: center;
    background-size: cover;
    height: 89vh;
    display: flex;
    align-items: center;
    box-shadow: 0px -20px 20px 0px #00000099 inset;
}
.text {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin-left: 1rem;
    animation: slideMe 1.5s;
    text-shadow:3px 3px 4px #00000099;
}

p {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    margin: 0;
}

.title {
    font-size: 3rem;
}

.subtitle {
    font-size: 1.5rem ;
}

/*keyframes para hacer el slide del titulo con un mini rebote*/
@keyframes slideMe {
    0% {
        transform: translateX(-900px);
    }

    90%{
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}
/* Termina el inicio */
/* Empieza el about me */
#aboutme {
    padding-bottom: 50px;
    box-shadow: 2px 19px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 19px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 19px 20px 0px rgba(0,0,0,0.75);
}
h2 {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    text-align: center;
    font-size: 2rem;
}

.div-image {
    height: 400px;
    width: 280px;
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background: url(IMG/yo\ bariloche.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 320px;
}

.div-image:hover {
    background-position: top;
    background-size: 500px;
}

.aboutme-text {
    text-align: center;
    margin-top: 1rem;
}
/* Termina el about me */
/* Empieza projects */
.hero-projects {
    background-image: url(IMG/pexels-steve-johnson-2130474.jpg);
    background-size: cover;
    background-position: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 2px 22px 20px 0px rgba(0,0,0,0.75) inset;
}
.text-image {
    text-align: center;
    margin-bottom: 1.5rem;
}
/* Termina projects */
/* Empieza el contact */
#contact {
    box-shadow: 2px -23px 20px 0px rgba(0,0,0,0.75);
}
.title-contact {
    margin-top: 0;
    padding-top: 2rem;
}
.div-input {
    text-align: center;
}

.textarea {
    width: 90%;
    resize: none;
}

.input {
    height: 2.5rem;
    width: 90%;
    margin-bottom: 1rem;
}

.div-button {
    text-align: center;
}

.buttonsubmit {
    height: 2.5rem;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #fd6231;
    font-weight: bold;
    font-size: 15px;
    margin-top: 1rem;
}

.buttonsubmit:hover {
    background-color: #75DDDD;
    color: #0A0F0D;
}

.div-links-profiles {
    display: flex;
    margin-top: 3rem;
    margin-bottom: 1rem;
    justify-content: center;
}

.profiles-link {
    font-size: 20px;
    margin-right: 2rem;
}
/* Termina el contact */
/* Empieza las mediasquerys */
@media (min-width:600px) {
    li {
        font-size: 1.8rem;
    }
    .title {
        font-size: 4.5rem;
    }
    .subtitle {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    .images-projects{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    .link-projects{
        font-size: 1.4rem;
    }
    .text-image {
        text-align: center;
    }
    .projects {
        width: 450px;
        display: block;
    }
    .name, .email {
        width: 44.5%;
    }
}
@media (min-width:900px){
    .div-toggle {
        display: none;
    }
    .links{
        display:flex;
        align-items: center;
    }
    ul {
        display: flex;
        margin: 0;
    }
    li {
        font-size: 1.2rem;
        margin-right: 1.5rem;
        margin-bottom: 0;
    }
    li:hover {
        padding-left: 0;
    }
    .hero-home {
        height: 91vh;
    }
    .container-aboutme {
        display: flex;
        justify-content: center;
    }
    .aboutme-text {
        width: 50%;
        display: flex;
        align-items: center;
    }
    .div-image {
        margin: 0;
        height: 500px;
        width: 400px;
        background-size: 420px;
        margin-right: 1rem;
    }
    .div-image:hover {
        background-size: 600px;
    }
    .container-contact{
        display: flex;
        justify-content: space-between;
    }
    .div-links-profiles {
        display: block;
    }
    .profiles-link {
        font-size: 1.5rem;
    }
    .div-profiles {
        margin-bottom: 1rem;
    }
    #contact{
        margin-bottom: 4rem;
    }
    .container-form {
        width: 50%;
    }
    .aboutme-text {
        font-size: 1.4rem;
    }
}
@media (min-width:1900px) {
    .logo {
        width:80px;
    }
    li {
        font-size: 1.8rem;
    }
    .hero {
        height: 92vh;
    }
    .title {
        font-size: 7rem;
    }
    .subtitle {
        font-size: 5rem;
    }
    h2 {
        font-size: 3rem;
    }
    .div-image {
        margin: 0;
        height: 700px;
        width: 600px;
        background-size: 620px;
        margin-right: 1rem;
    }
    .div-image:hover {
        background-size: 800px;
    }
}
/* Terminas las mediaquerys */