:root {
    background-color:#0A0F0D;
    color: whitesmoke;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

* {
    box-sizing: border-box;
}

body, h1 {
    margin: 0;
}

header {
   text-align: end;
}

#navbar {
    font-size: 1.8rem;
    margin-top: 0;
    display: flex;
    position: fixed;
    background-color: #0A0F0D;
    width: 100%;
    justify-content: flex-end;
}

.nav-link {
    text-decoration: none;
    position: sticky;
    color: #8A4FFF;
    display: block;
    padding: 1rem;
    transition: all 0.3s ease-out;
}

a:hover {
    color: #75DDDD;
}

#welcome-section {
    font-size: 5rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


#projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section--projects {
    display: flex;
    justify-content: space-evenly;
    height: 30vh;
    align-items: center;
}

.div--picture {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5em;
}

.div--picture > p {
    text-align: start;
    margin-left: 0.5em;
}

.picture {
    width: 500px;
    position: static;
}

.section--contact {
    text-align: start;
    padding-top: 2em;
    padding-bottom: 4em;
}

h1 .blast:hover, h2:hover {
    color: #8A4FFF;
}

h1 .blast{
    display: inline-block;
    transition: all 0.3s ease-out;
}

h2 {
    font-size: 2.3rem;
    transition: all 0.3s ease-out;
}

a {
    text-decoration: none;
    color: #8A4FFF;
    transition: all 0.3s ease-out;
}

.profiles-link {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

i {
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

@media (max-width: 970px) {
    #welcome-section {
        font-size: 3rem;
    }

    .section--projects {
        display: block;
    }
    
    .div--picture {
        display: block;
    }

    #navbar {
        font-size: 1.5em;
    }
}

@media (max-width: 640px) {
    h2 {
        font-size: 1.5rem;
    }
    .blast-root {
        font-size: 0.7em;
        width: 100%;
        padding:0;
    }

    #welcome-section {
        padding-top: 2.2em;
        padding-left: 1em;
        padding-right: 0;
    }
    
    .picture {
        max-width: 250px;
    }
}