:root {
    background-color:#0A0F0D;
    color: whitesmoke;
    font-family: 'Comfortaa', cursive;
}

* {
    box-sizing: border-box;
    --transition: all 0.3s linear;
}

body, h1 {
    margin: 0;
}

/*
=============== 
Navbar
===============
*/
.nav-header {
    display: flex;
    align-items: center;
    justify-content:space-between;
}

nav {
    background-color: #0A0F0D;
    box-shadow: 0px 20px 20px 0px #00000099; 
    position: absolute;
    width:100%;
}

.link { 
    display: flex;
}

.link li {
    font-size: 1.5rem;
    margin-left: 2rem;
}

.notShow-link {
    height: 0;
    overflow: hidden;
    position: absolute;
}

.nav-toggle {
    font-size: 1.5rem;
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;
    color: #fd6231;
    margin-right: 1rem;
}

.nav-toggle:hover {
    transform:rotate(180deg);
}

.logo {
    width: 70px;
    margin-left: 2rem;
    padding-top: 0.5rem;
}

.links a {
    font-size: 1rem;
    text-transform: capitalize;
    display: block;
    padding: 0.5rem 1rem;
    color: #75DDDD;
    font-weight: bold;
    font-size: 2rem;
}

.links a:hover {
    padding-left: 1.5rem;
}

.links {
    height: 0;
    overflow: hidden;
    position: absolute;
}
.show-links {
    height: 13rem;
    background-color: #00000099;
    width: 100%;
    transition: all .3s ease-in-out;
}

ul {
    list-style-type: none;
    margin: 0;
}

.hero {
    background-image: url(IMG/fondo\ 2.jpg);
    background-size:cover;
}

#welcome-section {
    font-size: 4.2rem;
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 7rem;
    padding-bottom: 8rem;
    animation: slideMe 1.5s;
}


@keyframes slideMe {
    0% {
        transform: translateX(-900px);
    }

    90%{
        transform: translateX(20px);
    }

    100% {
        transform: translateX(0px);
    }
}

.all {
    box-shadow: 0px -20px 20px 0px #00000099; 
    position: absolute;
    width:100%;
    z-index:99;
}

#projects {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.section--projects {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 5rem ;
}

.section--projects__div a {
    display: block;
    margin-bottom: 1em;
    text-align: center;
    padding-top: 2rem;
}

.page--logo {
    width: 260px;
}

.aboutme {
    display: flex;
    align-items: center;
}

.aboutme--div--picture {
    height: 600px;
    width: 500px;
    border-radius: 15px;
    overflow: hidden;
    transition: all .5s ease-in-out;
    background: url(IMG/yo\ bariloche.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 500px;
}

.aboutme--div--picture:hover {
    background-position: top;
    background-size: 780px;
}

.aboutme--div--text {
    text-align: start;
    font-size: 1.5em;
    width: 700px;
    margin-left: 4rem;
}

.picture {

}

.section--contact {
    text-align: start;
    padding-top: 2em;
    padding-bottom: 4em;
}

h1 .blast{
    display: inline-block;
    transition: all 0.3s ease-out;
    text-shadow:3px 3px 4px #00000099; ;
}

h2 {
    font-size: 2.3rem;
    transition: all 0.3s ease-out;
}

a {
    text-decoration: none;
    color: #75DDDD;
    transition: all 0.3s ease-out;
}

a:hover {
    color: #75DDDD;
}
.profiles-link {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

.section--contact-icons {
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

@media (max-width: 970px) {
    #welcome-section {
        font-size: 3rem;
        height: 100vh;
    }

    .section--projects {
        display: block;
        height: 100%;
        text-align: center;
    }
    
    .aboutme {
        display: block;
        text-align: start;
    }

    #navbar {
        font-size: 1.5em;
    }
}

@media (max-width: 640px) {
    #header {
        min-width: 340px;
    }

    #welcome-section {
        font-size: 3rem;
        height: 100vh;
    }

    h2 {
        font-size: 1.5rem;
    }
    .blast-root {
        font-size: 0.9em;
        width: 100%;
        padding:0;
        margin: 0;
        min-width: 340px;
    }
    
    .picture {
        max-width: 250px;
    }

    .page--logo {
        width: 100%;
    }


    .aboutme--div--text {

    }

}