* {
    box-sizing: border-box;
    background-color: #0C0910;
    color:#FFDF64;
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
    font-size: 1.6rem;
    line-height: normal;
    text-align: start;
}

p {
    margin: 0;
    padding-bottom: 1em;
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.nav-bar {
    background-color: #FFDF64;
    display: flex;
    padding: 1em;
    justify-content: flex-end;
}

.nav--bar__a {
    text-decoration: none;
    background-color: #FFDF64;
    color: #0C0910;
    margin-left: 2em;
}

img {
    border-radius: 15px;
    max-width: 100%;
}

h1, h2 {
    text-align: center;
    font-family: 'Noto Serif', serif;
}

.block--text {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.title--img {
    padding: 4em;
}

.figure__figcaption {
    max-width: 948px;
    text-align: center;
}

.section-logos {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-evenly;
    padding: 2em;
}

.section-logos__div {
    min-height: 217px;
    align-content: center;
}

.names {
    max-width: 150px;
    text-align: center;
    align-items: center;
}

.logo {
    width: 150px;
    height: 150px;
}

.linktoinfo {
    text-decoration: underline;
}

.footer {
    padding-bottom: 3em;
    padding-left: 2em;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
}

.footer, a {
    text-decoration: ;
}

a:hover {
    color:#7D5BA6;
}

.section--contact {
    text-align: end;
    padding-top: 2em;
    padding-bottom: 4em;
    
}

.section--contact, a {
    text-decoration: none;
}

.profiles-link {
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 10px;
}

i {
    display: flex;
    margin-top: 0.5em;
    margin-right: 0.5em;
}

@media (max-width:1300px) {
    body {
        font-size: 1.2rem;
    }

    .section-logos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .imgchester {
        min-width: 300px;
    }

    .solve {
        padding-top: 1em;
    }
}